{% extends "layouts/layout1.html" %}
{% block title %}
Make Changes to Records
{% endblock %}

{% block currentpage %}
Editor
{% endblock %}
{% block content %}
<!-- Header -->

<section id="header" class="main-header shop-header inner-header">
    <div class="container">

        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="site-nav-bar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/merch">Merch</a></li>
                        <li><a href="/sales">sales</a></li>
                        <li><a href="/events">Events</a></li>
                        <li class="active"><a href="/dostuff">Editor</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="intro row">
            <div class="overlay"></div>
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Editor</li>
                </ol>
            </div>
        </div> <!-- /.intro.row -->
    </div> <!-- /.container -->
    <div class="nutral"></div>
</section> <!-- /#header -->
    <!-- Shop -->
        <section class="shop">
            <div class="container page-bgc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <p>Your</p>
                            <h2 class="title mt0">Merch Records</h2>
                        </div>
                    </div>
                </div>
                <form action="dostuff" method="post" ><h4>Create New Merch Item:</h4><br>
                        Description: (Example: T-shirt)<br>
                        <input type="text" name="description" value=""><br>
                        Price:<br>
                        <input type="float" name="price" value=""><br><br>
                        <button type="submit" value="new_merch_btn" name="submit">Submit</button>
                </form>
                 <div class="row">
                    <div class="boxed">
                        {% for item in merchItems %}
                            <form action="delStuff" method="post">
                                <input type="hidden" name="merch-id" value="{{ item.id }}"/>
                                <button type="submit">X</button>
                            </form>
                            <div class="col-sm-6">
                                <div class="shop-box-title">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4>{{ item.description }}</h4>
                                            <h4>ID: <span class="thin">#{{ item.id }}</span></h4>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="shop-price">
                                                $ {{ item.price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <p>Your</p>
                            <h2 class="title mt0">Event Records</h2>
                        </div>
                    </div>
            </div>
            <form action="/dostuff"><h4>Create New Event:</h4><br>
                        Venue/Event Name:<br>
                        <input type="text" name="venue" value=""><br>
                        Month:<br>
                        <input type="float" name="month" value=""><br>
                        Day:<br>
                        <input type="float" name="day" value=""><br>
                        Year:<br>
                        <input type="float" name="year" value=""><br><br>
                        <input type="submit" value="Submit" name="new_event_btn">
            </form>
            <div class="row">
                    <div class="boxed">
                        {% for item in eventList %}

                            <div class="col-sm-6">
                                <div class="shop-box-title">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>Event ID#{{ item.id }}</h6>
                                            <h5>Venue: {{ item.venue }}</h5>
                                            <h4>Date: <span class="thin">{{ item.month }}/{{ item.day }}/{{ item.year }}</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <p>Your</p>
                            <h2 class="title mt0">Sale Records</h2>
                        </div>
                    </div>
            </div>
            <form action="/dostuff"><h4>Record New Sale:</h4><br>
                        Merch ID# of Item Sold:<br>
                        <input type="text" name=merchID" value=""><br>
                        Number of Items Sold:<br>
                        <input type="int" name="numSold" value=""><br>
                        Sold @ (Event ID#):<br>
                        <input type="int" name="eventID" value=""><br><br>
                        <input type="submit" value="Submit" name="new_sale_btn">
            </form>
                <div class="row">
                    <div class="boxed">
                        {% for item in saleItems %}
                            <div class="col-sm-6">
                                <div class="shop-box-title">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4>Sale ID#{{ item.id }}</h4>
                                            <h4>MerchID #: <span class="thin">{{ item.merchID }}</span></h4>
                                            <h4># of Items Sold: <span class="thin">{{ item.numSold }}</span></h4>
                                            <h4>Sold @ Event ID: <span class="thin">{{ item.eventID }}</span></h4>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="shop-price">
                                                $ {{ totalsList[loop.index0] }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
