{% extends "layouts/layout1.html" %}
{% block title %}
Event Management
{% endblock %}

{% block currentpage %}
Events
{% endblock %}

{% block content %}
<!-- Header -->

<section id="header" class="main-header shop-header inner-header">
    <div class="container">

        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="site-nav-bar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/merch">Merch</a></li>
                        <li><a href="/sales">sales</a></li>
                        <li class="active"><a href="/events">Events</a></li>
                        <li><a href="/dostuff">Editor</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="intro row">
            <div class="overlay"></div>
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Events</li>
                </ol>
            </div>
        </div> <!-- /.intro.row -->
    </div> <!-- /.container -->
    <div class="nutral"></div>
</section> <!-- /#header -->
    <!-- Shop -->
        <section class="shop">
            <div class="container page-bgc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <p>Your</p>
                            <h2 class="title mt0">Event Records</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="boxed">
                        {% for item in eventList %}

                            <div class="col-sm-6">
                                <div class="shop-box-title">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>Event ID#{{ item.id }}</h6>
                                            <h5>Venue: {{ item.venue }}</h5>
                                            <h4>Date: <span class="thin">{{ item.month }}/{{ item.day }}/{{ item.year }}</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

{% endblock %}