<!DOCTYPE html>
<title>Merch Manager 5000</title>
<h1>Current Merch Items:</h1>
<ul>
    {% for item in merchItems %}
            <li>{{ item }}</li>
    {% endfor %}
<br>
To add a new Merch Item to Inventory, Complete Form:
<form>
  Item Description :  <input type="text" name="description"><br>
  Merch Item Price: <input type="int" name="price"><br>
  <input type="submit" value="Create New Merch Item">
</form>

</ul><br>

<h1>Event List:</h1>
<ul>
    {% for item in eventList %}
            <li>{{ item }}</li>
    {% endfor %}
<br>
To create a new Event, Complete Form:
<form>
    Venue Name: <input type="text" name="venue"><br>
    Month(MM):  <input type="int" name="month"><br>
    Day  (DD):    <input type="int" name="day"><br>
    Year(YYYY): <input type="int" name="year"><br>
  <input type="submit" value="Create New Venue">
</form>

</ul>
<br>
<h1>Current Sale Records:</h1>
<ul>
    {% for item in saleItems %}
            <li>{{ item }}</li>
    {% endfor %}
To Record a new Sale, Complete Form:
<form>
    ID# of Merch Item Sold:<input type="int" name="venue"><br>
    # of Merch Item Sold:  <input type="int" name="month"><br>
    Event ID # where Item Sold:<input type="int" name="day"><br>

  <input type="submit" value="Record Sale">
</form>

</ul>
